@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

.page-wrapper{
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.img{
    margin-top: 15px;
}

.links{
    display: flex;
    gap: 35px;
    font-family: 'DM Sans', sans-serif;
    color: #666666;
    font-size: 12px;
}

a{
    transition: 0.3s;
}

.links a:hover{
    color: #070404;
}

.social{
    height: 20px;
}

#navegation{
    display: flex;
    align-items: center;
    gap: 35px;
}

/*------------ABOUT ME--------------*/

.main2{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 250px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
    font-size: 25px;
    width: 100%;
    gap: 50px;
}

.about{
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    color: #666666;
}

#text-about{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#text-about2{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-text{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    color: #666666;
    border-bottom: solid 1px #EBEAED;
    padding-bottom: 20px;
}

.infos{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 5px;
}

.local{
    display: flex;
}

.study{
    display: flex;
    justify-content: space-between;
    
}