@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

.page-wrapper{
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.img{
    margin-top: 15px;
}

.links{
    display: flex;
    gap: 35px;
    font-family: 'DM Sans', sans-serif;
    color: #666666;
    font-size: 12px;
}

a{
    transition: 0.3s;
}

.links a:hover{
    color: #070404;
}

.social{
    height: 20px;
}

#navegation{
    display: flex;
    align-items: center;
    gap: 35px;
}

/*------------ABOUT ME--------------*/

.main2{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 250px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
    font-size: 25px;
    width: 100%;
    gap: 50px;
    /* visibility: hidden; */
}

.about{
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    color: #666666;
}

#text-about{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#text-about2{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-text{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    color: #666666;
    border-bottom: solid 1px #EBEAED;
    padding-bottom: 20px;
}

.work-text2{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    color: #666666;
    border-bottom: solid 1px #EBEAED;
    padding-bottom: 20px;
}

.infos{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 5px;
}

.local{
    display: flex;
}

.study{
    display: flex;
    justify-content: space-between;
    
}

/*------------TECH STACK--------------*/

#text-about3{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main3{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 250px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
    font-size: 25px;
    width: 100%;
    gap: 120px;
}

.stacks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    width: 765px;
}

#stack1{
    animation: bounceInUp;
    animation-duration: 2s;
}

#stack2{
    animation: bounceInUp;
    animation-duration: 3s;
}

/*------------PROJECTS--------------*/

.projects{
    display: flex;
    gap: 25px;
}

.pj{
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px #e2d9d9;
    width: 230px;
    display: flex;
    height: 350px;
    margin-bottom: 50px;
    border-radius: 20px;
    flex-direction: column;
    gap: 40px;
}

.inform{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-weight: 500;
    align-items: center;
    color: black;
    font-size: 15px;
    gap: 10px;
}

.txt{
    font-family: Poppins;
    font-weight: 300;
    font-size: 11px;
    padding-left: 13px
}

.tech{
    font-family: Poppins;
    font-weight: 300;
    font-size: 11px;
    padding-left: 13px;
    color: #42446E;
}

.sp{
    font-family: Poppins;
    font-weight: 500;
}

.preview{
    display: flex;
    font-size: 12px;
    color: black;
    text-decoration: underline;
    align-items: center;
    padding-left: 13px;
    gap: 5px;
}

.linkar{
    display: flex;
    width: 100%;
    gap: 15px;
}

.codeview{
    display: flex;
    font-size: 12px;
    padding-left: 8px;
    color: black;
    text-decoration: underline;
    gap: 5px;
}

.infinal{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#p1{
    animation: bounceInUp;
    animation-duration: 1s;
}

#p2{
    animation: bounceInUp;
    animation-duration: 2s;
}


#p3{
    animation: bounceInUp;
    animation-duration: 3s;
}

/*------------CONTATO--------------*/

.main4{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 250px;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    color: #42446E;
    font-size: 25px;
    width: 1000px;
    gap: 220px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

#email{
    animation: pulse;
    animation-duration: 3s;
}

.mail{
    background: -webkit-linear-gradient(left, #13B0F5 0%, #E70FAA 100%);
    background: linear-gradient(to right, #13B0F5 0%, #E70FAA 100%);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.mail{
    cursor: pointer;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #EBEAED;
}

.tel{
    font-size: 10px;
    color: #42446E;
}

#ftr{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 10px
}

/*------------ajustando weight dos textos--------------*/
.mn-txt{
    font-weight: 700;
}





/*------------SCROLLBAR--------------*/

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: #1E0E62;
}